<h2 id="title">ember-cli-copyright</h2>

<h3>'&#123;&#123;&#123;copyright "My Company"&#125;&#125;&#125;' produces <span class="param">'{{{copyright 'My Company'}}}'</span></h3>
<h3>'&#123;&#123;&#123;copyright&#125;&#125;&#125;' produces <span class="no-param">'{{{copyright ''}}}'</span></h3>

